[submodule "testsuite/rdf-tests"]
	path = testsuite/rdf-tests
	url = https://github.com/w3c/rdf-tests.git
[submodule "testsuite/data-shapes"]
	path = testsuite/data-shapes
	url = https://github.com/w3c/data-shapes.git
[submodule "testsuite/shexTest"]
	path = testsuite/shexTest
	url = https://github.com/shexSpec/shexTest.git
[submodule "bench/bsbm-tools"]
	path = bench/bsbm-tools
	url = https://github.com/Tpt/bsbm-tools.git
[submodule "testsuite/openCypher"]
	path = testsuite/openCypher
	url = https://github.com/opencypher/openCypher.git
